body{
    margin: 0;
    font-family: Arial, sans-serif;
    
}


/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #1F2937;
}

#logo{
    height: auto;
    image-rendering: pixelated;
    width: 45px;
}

#links{
    display: flex;
    gap: 15px;
}

.headerLink{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Section 1 */

#section1{
    display: flex;
    padding-bottom: 100px;
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 40px;
}

#section1 h1{
    font-size: 48px;
    font-weight: 900;
}

#section1 #s1img{
    width: 250px;
    padding: 20px;
}
#section1 img{
    height: auto;

}

#section1 button{
    border-radius: 5px;
}