body{
    margin:  0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,  #section1, footer{
    background-color: #1F2937;
    color: white;
}

nav{
    display: flex;

}


header a{
    color: #E5E7EB;
    text-decoration: none;

}

nav img{
    height: auto;
    width: 50px;
    image-rendering: pixelated;
}

p, h1{
    margin: 0;
}

header, .section{
    
    padding-left: 20%;
    padding-right: 20%;
}

header{
    padding-bottom: 10px;
    padding-top: 10px;
}


